{% extends "webPages/FrontEnd_ClientView/siteContainer.html" %}
{% load static %}

{% block element %}

<!-- Page Banner Section Start -->
<div class="page-banner-section section" style="background-image: url('{% static 'webPages/FrontEnd_ClientView/img/bg/page-banner.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="page-title text-center col">
                <h1>Login / Register</h1>
            </div>
        </div>
    </div>
</div>
<!-- Page Banner Section End -->

<!-- Login / Register Section Start -->
<div class="login-register-section section pt-120 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-12 mx-auto">
                <div class="login-register-wrapper">
                    <div class="panel single-accordion">

                        <a class="accordion-head" data-toggle="collapse" data-parent="#checkout-accordion" href="#checkout-method">Fill your requirements</a>

                        <div id="checkout-method" class="collapse show">
                            <div class="checkout-method accordion-body fix">

                                <ul class="checkout-method-list">
                                    <li class="active" data-form="checkout-login-form">Login</li>
                                    <li data-form="checkout-register-form">Register</li>
                                </ul>

                                <form action="{% url 'myaccount' %}" method="post" class="checkout-login-form">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="input-box col-md-6 col-12 mb-20">
                                            <input type="email" name="login_email" placeholder="Email Address">
                                        </div>
                                        <div class="input-box col-md-6 col-12 mb-20">
                                            <input type="password" name="login_password" placeholder="Password">
                                        </div>
                                        <div class="input-box col-md-6 col-12 mb-20">
                                            <input type="submit" name="login_submit" value="Login">
                                        </div>
                                    </div>
                                </form>
                                

                                <form action="{% url 'myaccount' %}" method="post" class="checkout-register-form">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="input-box col-md-6 col-12 mb-20">
                                            <input type="text" name="reg_name" placeholder="Your Name">
                                        </div>
                                        <div class="input-box col-md-6 col-12 mb-20">
                                            <input type="email" name="reg_email" placeholder="Email Address">
                                        </div>
                                        <div class="input-box col-md-6 col-12 mb-20">
                                            <input type="password" name="reg_password" placeholder="Password">
                                        </div>
                                        <div class="input-box col-md-6 col-12 mb-20">
                                            <input type="password" name="reg_confirm_password" placeholder="Confirm Password">
                                        </div>
                                        <div class="input-box col-md-6 col-12 mb-20">
                                            <input type="text" name="reg_phone" placeholder="Phone Number (optional)">
                                        </div>
                                        <div class="input-box col-md-6 col-12 mb-20">
                                            <input type="submit" name="register_submit" value="Register">
                                        </div>
                                    </div>
                                </form>
                                

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login / Register Section End -->


{% endblock %}