{% extends "webPages/FrontEnd_ClientView/siteContainer.html" %}
{% load static %}

{% block element %}

<!-- Under Construction Section Start-->
<div class="under-construction-section section pt-120 pb-90" style="background-image: url('{% static 'webPages/FrontEnd_ClientView/img/hero/1.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="under-construction-content col-12 text-center">
                
                <h2 class="title">Undergoing <br>maintenance</h2>
                <p class="desc">We sincerely apologize for the inconvenience. Our site is currently undergoing maintenance and upgrades, but will return shortly after.</p>
                
            </div>
        </div>
    </div>
</div><!-- Under Construction Section End-->

{% endblock %}